flask~=3.0.2
flask-wtf
flask-socketio~=5.3.6
gevent~=24.2.1
gevent-websocket~=0.10.1
gunicorn
python-dotenv~=1.0.1
pytest~=7.2.0
requests~=2.32.3
webauthn
flask-mail
cryptography~=46.0.3
stripe
sentry-sdk[flask]
click~=8.1.7
werkzeug~=3.0.1